html {
  font-size: 16px;
}

form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  box-sizing: border-box;
  overflow: auto;
  max-height: 50vw;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 1rem;
  margin-top: 2rem;
}

mat-form-field {
  width: 100%;
  font-size: 1rem;
}

app-signature-pad {
  width: 100%;

  margin: 1rem 0;
}

.error-message {
  color: #d32f2f;
  font-size: 0.875rem;
  margin: 0.5rem 0;
}

.buttons-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0;
}


button[mat-raised-button] {
  min-width: 6rem;
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
}



