
.form-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 16px;
}

mat-form-field {
  width: 100%;
}

.buttons-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

