@import "../theme";

html {
  font-size: 16px;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.layout-wrapper {
  overflow: hidden;
  border-radius: 0.625rem;
  box-shadow: 0.625rem 0.3125rem 0.3125rem rgb(180, 180, 180);
  width: 80%;
  max-width: 80rem;
  display: flex;
  flex-direction: row;
  height: 70vh;
}


.right-cont {
  padding: 0.5rem;
  flex: 1;
  background-color: $main-red;
  color: $main-white;
  border-right: 1px solid white;
  height: 100%;
}

.left-cont{
  flex: 1;
  background-color: $main-white;
  &app-invoice-form {
    padding: clamp(0.75rem, 2vw, 1rem);
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

  }
}

